body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #DCDCDC;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px;
  background-color: #fff;
  border-radius: 700px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.board-row {
  display: flex;
}

.square {
  background: black;
  border: 2px solid #fff;
  border-radius: 100px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
