body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #877faa;
}

.board-row {
  display: flex;
}

.quadrado {
  width: 100px;
  height: 100px; 
  font-size: 24px; 
  margin: 5px; 
  cursor: pointer;
  background-color: white;
  border: 2px solid #999;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.quadrado:hover {
  background-color: #e0e0e0; 
}

.status {
  font-size: 24px; 
  margin-bottom: 20px; 
  text-align: center;
}
.titulo{ 
  font-size: 15px; 
  margin-bottom: 20px; 
  text-align: center;

}
