@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.allRecipesSection {
  width: 100%;
  text-align: center;
  margin: 52px 0;
  margin-bottom: 0px;
}

.title {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 24px;
  letter-spacing: 1px;
  font-family: "Nunito", "Arial", sans-serif;
}

.recipesGrid {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: auto;
  gap: 32px;
  padding-bottom: 10px;
}

.recipeTitle {
  font-size: 2rem;
  font-weight: 500;
  margin: 16px 0 12px 0;
  letter-spacing: 2px;
}

@media (max-width: 1200px) {
  .recipesGrid {
    flex-direction: column;
    align-items: center;
  }

  .recipeImage {
    height: 250px;
  }

  .recipeCard {
    width: 70%;
  }
}
